.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

@media (max-width: 600px) {
  .gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
